<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            float: left;
            width: 24%;
            margin-right: 1%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

<h1>Result</h1>

<table>
    <tr>
        <td colspan="2" style="text-align:center">A-G</td>
    </tr>

    <tr th:each="element : ${ag}">
        <td th:text="${element.key}">word</td>
        <td th:text="${element.value}">count</td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2" style="text-align:center">H-N</td>
    </tr>

    <tr th:each="element : ${hn}">
        <td th:text="${element.key}">word</td>
        <td th:text="${element.value}">count</td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2" style="text-align:center">O-U</td>
    </tr>

    <tr th:each="element : ${ou}">
        <td th:text="${element.key}">word</td>
        <td th:text="${element.value}">count</td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2" style="text-align:center">V-Z</td>
    </tr>

    <tr th:each="element : ${vz}">
        <td th:text="${element.key}">word</td>
        <td th:text="${element.value}">count</td>
    </tr>

</table>

</body>
</html>